.card {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: rgb(32, 33, 36);
    background-clip: border-box;
    border: 0px;
    border-radius: 0.25rem;
    height: 100%;
}

.card-header {
    padding: 0rem;
}

.nav-tabs .nav-item.show .nav-link,
.nav-tabs .nav-link.active {
    color: rgb(205, 205, 205);
    background-color: rgb(61, 64, 67);
    border-color: rgb(205, 205, 205);
}

.nav-tabs .nav-link {
    margin-bottom: 0px;
    border: 0px;
}

.nav-tabs {
    border-bottom: 0px;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: rgb(205, 205, 205);
    text-align: left;
    background-color: rgb(32, 33, 36);
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    border: 1px solid #2b2b2b;
    border-radius: 0.25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

.form-control:disabled,
.form-control[readonly] {
    background-color: #2b2b2b;
    color: rgb(205, 205, 205);
    opacity: 1;
}

a {
    color: rgb(205, 205, 205);
    text-decoration: none;
    background-color: transparent;
}

a:hover {
    color: #ffffff;
    background-color: rgb(61, 64, 67);
    text-decoration: underline;
}

.nav-pills .nav-link.active,
.nav-pills .show>.nav-link {
    color: rgb(205, 205, 205);
    background-color: rgb(61, 64, 67);
}

.dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 10rem;
    padding: 0.5rem 0;
    margin: 0.125rem 0 0;
    font-size: 1rem;
    color: rgb(205, 205, 205);
    text-align: left;
    list-style: none;
    background-color: rgb(32, 33, 36);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .15);
    border-radius: 0.25rem;
}

.dropdown-item:focus,
.dropdown-item:hover {
    color: rgb(205, 205, 205);
    text-decoration: none;
    background-color: rgb(79, 79, 79);
}

.dropdown-item {
    display: block;
    width: 100%;
    padding: 0.25rem 1.5rem;
    clear: both;
    font-weight: 400;
    color: rgb(205, 205, 205);
    text-align: inherit;
    white-space: nowrap;
    background-color: transparent;
    border: 0;
}

.card-body.overflow-auto {
    padding-right: 0px;
    padding-left: 0px;
    padding: 0px;
    background-color: rgb(60, 63, 65);
    color: rgb(205, 205, 205);
}

.col {
    position: relative;
    padding-right: 0px;
    padding-left: 0px;
}

.card-header-tabs {
    margin-right: 0rem;
    margin-bottom: 0rem;
    margin-left: 0rem;
    border-bottom: 0rem;
}

.modal-content {
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    width: 100%;
    pointer-events: auto;
    background-color: rgb(61, 64, 67);
    color: rgb(205, 205, 205);
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, .2);
    border-radius: 0.3rem;
    outline: 0;
}

.close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    text-shadow: 0 1px 0 #fff;
    opacity: .5;
}

.jstree-default .jstree-wholerow-clicked {
    background: #beebff;
    background: -webkit-linear-gradient(top, #beebff 0, #a8e4ff 100%);
    background: linear-gradient(to bottom, rgb(0, 0, 0) 0, rgb(0, 0, 0) 100%);
}

.jstree-default .jstree-wholerow-hovered {
    background: rgb(32, 33, 36);
}

.CodeMirror-gutter-filler,
.CodeMirror-scrollbar-filler {
    background-color: rgb(32, 33, 36);
}

.modal-body .input-group-text {
    color: rgb(205, 205, 205);
    background-color: rgb(61, 64, 67);
    border: 1px solid rgb(61, 64, 67);
}

.modal-body .form-control {
    color: rgb(205, 205, 205);
    background-color: rgb(50,50,50);
    border: 1px solid rgb(50,50,50);
}

.modal-body .form-control:focus {
    color: rgb(205, 205, 205);
    background-color: rgb(79, 79, 79);
    border-color: rgb(79, 79, 79);
}

.dot {
    display: inline-block;
    width: 0.6rem;
    height: 0.6rem;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    margin-left: 0.3rem;
}

.vakata-context li>a {
    display: block;
    padding: 0 1rem 0 1rem;
    text-decoration: none;
    width: auto;
    color: rgb(205, 205, 205);
    white-space: nowrap;
    line-height: 2em;
    text-shadow: 0 0 black;
    border-radius: 1px;
    background-color: rgb(32, 33, 36);
}

.vakata-context li>a .vakata-contextmenu-sep {
    display: inline-block;
    width: 1px;
    height: 0em;
    background: white;
    margin: 0 0.5em 0 0;
    border-left: 1px solid #e2e3e3;
}

.vakata-context, .vakata-context ul {
    padding: 2px;
    position: absolute;
    background: rgb(32, 33, 36);
    border: 1px solid rgb(32, 33, 36);
    box-shadow: 0px 0px 0px rgb(32, 33, 36);
    z-index: 9999;
}

.vakata-context .vakata-context-hover > a {
  background-color: rgb(66, 66, 66);
  box-shadow: 0 0 2px rgb(66, 66, 66);
}

.vakata-context li > a:hover {
  position: relative;
  background-color: rgb(66, 66, 66);
  box-shadow: 0 0 2px rgb(66, 66, 66);
}

.vakata-context .vakata-context-separator>a, .vakata-context .vakata-context-separator>a:hover {
    background: #df9d9d;
    border: 0;
    border-top: 1px solid #ffffff;
    height: 1px;
    min-height: 1px;
    max-height: 1px;
    padding: 0;
    margin: 0em;
    border-left: 0px solid #e0e0e0;
    text-shadow: 0 0 0 transparent;
    box-shadow: 0 0 0 transparent;
    border-radius: 0;
}

/*定义滚动条高宽及背景
 高宽分别对应横竖滚动条的尺寸*/

::-webkit-scrollbar {
    width: 15px;
    height: 15px;
    background-color: rgb(32, 33, 36);
}


/*定义滚动条轨道
  内阴影+圆角*/

::-webkit-scrollbar-track {
    border-radius: 0px;
    background-color: rgb(32, 33, 36);
}


/*定义滑块
  内阴影+圆角*/

::-webkit-scrollbar-thumb {
    border-radius: 0px;
    background-color: rgb(66, 66, 66);
}


/*定义滑块获得焦点
  内阴影+圆角*/

::-webkit-scrollbar-thumb:hover {
    background: rgb(79, 79, 79);
}

/*定义滚动条横条和竖条交接处*/
::-webkit-scrollbar-corner{
    background-color: rgb(32, 33, 36);
}